@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: 'Elsie';
    src: url(../fonts/Elsie/Elsie-Black.ttf);
}
@font-face {
    font-family: 'ClashDisplay';
    src: url(../fonts/ClashDisplay/fonts/ClashDisplay-Bold.ttf);
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: Roboto;
    background-color: rgba(207, 210, 198, 1);
    color: rgba(54, 57, 45, 1);
}
a {
    color: inherit;
}
section {
    padding-top: 6.5rem;
}
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    padding-inline: 80px;
}
.swiper {
    overflow: hidden;
}
.lock-scroll {
    overflow: hidden;
}

/* header */

.header {
    z-index: 10;
    color: rgba(207, 210, 198, 1);
    width: 100%;
    top: 0;
    position: fixed;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.4s;
}
.header > .container {
    position: relative;
}
.scrolled {
    background-color: rgba(0, 0, 0, 0.6);
}
.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 0;
}
.header__items {
    display: flex;
    gap: 2.5rem;
}
.header__burger {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 2.5rem;
    height: 2.5rem;
}
.header__burger span {
    display: block;
    width: 2rem;
    height: 3px;
    background-color: rgba(207, 210, 198, 1);
    border-radius: 2px;
    transform-origin: 0% 50%;
    transition: 0.4s;
}
.header__burger-active span:nth-child(1) {
    transform: rotate(45deg);
    width: calc(2rem / 0.85090352453);
}
.header__burger-active span:nth-child(2) {
    opacity: 0;
}
.header__burger-active span:nth-child(3) {
    transform: rotate(-45deg);
    width: calc(2rem / 0.85090352453);
}

.header__nav {
    display: flex;
    align-items: center;
}
.header__nav__links {
    display: flex;
    gap: 2.5rem;
}
.header__logo {
    font-family: Elsie;
    font-size: 2rem;
}
.header__mobile__menu {
    height: 100vh;
    width: 100%;
    padding-top: 7rem;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.6);
    font-family: ClashDisplay;
    transform: translateX(-100%);
}
.header__mobile__menu-active {
    transform: translateX(0);
}
.header__mobile__menu__nav__links {
    gap: 1.5rem;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* hero */
.hero {
    width: 100%;
    height: 100vh;
    background-image: url(../imgs/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
}
.hero__text {
    font-family: ClashDisplay;
    color: rgba(207, 210, 198, 1);
    line-height: 6rem;
    font-size: 5rem;
    text-shadow: 0 0 10px black;
}
/* about */
.about__content {
    display: flex;
    justify-content: space-between;
    width: 83%;
    margin: 0 auto 2rem;
}
.about__header {
    font-family: ClashDisplay;
    font-size: 4rem;
}
.about__text {
    font-size: 1.125rem;
    line-height: 1.6875rem;
    width: 40%;
}
.about__swiper {
    user-select: none;
    max-width: 100%;
}
.about__swiper__buttons {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
}
.swiper-button {
    position: static;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 1px solid rgba(54, 57, 45, 1);
    margin: 0;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-button::after,
.swiper-button::before {
    content: none;
}
.swiper-button-next {
    transform: rotate(180deg);
}
.swiper__slide {
    background-color: rgba(207, 210, 198, 1);
}
/* menu */
.menu {
    padding-bottom: 5rem;
}
.menu__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu__header {
    font-family: ClashDisplay;
    font-size: 4rem;
    margin-bottom: 1.5rem;
}
.menu__text {
    width: 40%;
    font-size: 1.125rem;
    line-height: 1.8rem;
    text-align: center;
    margin-bottom: 1.5rem;
}
.menu__dishes-slider {
    width: 100%;
    width: calc(100% - 88px);
}
.menu__dishes__swiper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu__dishes__swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    margin-bottom: 2.5rem;
}
.swiper-pagination-bullet {
    height: auto;
    width: auto;
    display: flex;
    opacity: 1;
    background-color: transparent;
}
.menu__dishes__swiper-pagination .swiper-pagination-bullet {
    padding: 1rem 2.5rem;
    border: 1px solid rgba(159, 166, 140, 1);
    border-radius: 1rem;
    color: rgba(54, 57, 45, 1);
}
.menu__dishes__swiper-pagination .swiper-pagination-bullet-active {
    background-color: rgba(183, 188, 169, 1);
}
.menu__dishes__type__slider {
    display: flex;
    align-items: center;
    width: 100%;
}
.swiper-slide {
    background-color: rgba(207, 210, 198, 1);
}
.menu__dishes__type__swiper-slide__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.menu__dishes__type__swiper-slide__card__name {
    font-family: ClashDisplay;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
}
.menu__dishes__type__swiper-slide__card__price {
    font-size: 1rem;
    font-weight: 600;
}
.menu__dishes__type__swiper {
    width: calc(100% - 208px);
}
.menu__drinks-slider {
    width: calc(100% - 298px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
}
.menu__drinks__swiper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.menu__drinks__swiper-slide {
    display: flex;
}
.menu__drinks__swiper-pagination {
    font-family: ClashDisplay;
    display: flex;
    flex-direction: column;
    width: 40% !important;
}
.menu__drinks__swiper-pagination .swiper-pagination-bullet {
    width: 100%;
    padding: 2.5rem 0;
    border-radius: 0;
    color: rgba(159, 166, 140, 1);
    border-bottom: 1px solid rgba(159, 166, 140, 1);
    font-size: 4rem;
    transition: 0.3s;
}
.menu__drinks__swiper-pagination .swiper-pagination-bullet-active {
    color: rgba(54, 57, 45, 1);
}
.menu__drinks__type__swiper {
    display: flex;
}
.menu__drinks__type__swiper-buttons {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-left: 2.5rem;
    margin-right: 2.8125rem;
    margin-bottom: 6.875rem;
    align-self: flex-end;
}
.menu__drinks__type__swiper-slide__card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.menu__drinks__type__swiper-slide__card__name {
    font-family: ClashDisplay;
    font-size: 1.25rem;
    font-weight: 700;
}
.menu__drinks__type__swiper-slide__card__price {
    font-size: 1rem;
    font-weight: 600;
}
.menu__drinks__type__swiper-slide__card__recipe {
    font-size: 1rem;
    font-weight: 400;
}
/* team */
.team {
    background-color: rgba(183, 188, 169, 1);
    padding-bottom: 5rem;
}
.team__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-inline: 198px; */
    width: 83%;
    margin: 0 auto;
}
.team__header {
    font-family: ClashDisplay;
    font-size: 4rem;
    margin-bottom: 1.5rem;
}
.team__text {
    width: 40%;
    font-size: 1.125rem;
    line-height: 1.8rem;
}
.team__slider {
    width: 100%;
}
.team__swiper {
    width: 93%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 2.5rem;
}
.team__swiper__buttons {
    display: flex;
    gap: 1.5rem;
    /* margin-bottom: 2.5rem; */
}
.team__swiper-wrapper {
    align-self: center;
}
.team__swiper__card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
    background-color: rgba(183, 188, 169, 1);
}
.team__swiper__card__position {
    font-weight: 600;
}
.team__swiper__card__name {
    font-family: ClashDisplay;
    font-size: 1.25rem;
    font-weight: 700;
}
/* events */
.events {
    padding-bottom: 5rem;
}
.events__header {
    font-family: ClashDisplay;
    font-size: 4rem;
    margin-bottom: 5rem;
    padding-left: 8.5%;
}
.events__items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.events__item {
    width: calc(50% - 12px);
    position: relative;
}
.events__item__hover {
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   background-color: rgba(149, 157, 123, 0.8);
   color: rgba(255, 255, 255, 1);
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 2rem;
   opacity: 0;
   transition: 0.4s;
}
.events__item__hover:hover {
    opacity: 1;
}
/* footer */ 
.footer {
    font-size: 1.125rem;
    padding-bottom: 3rem;
    padding-top: 4.5rem;
    background-color: rgba(183, 188, 169, 1);
}
.footer__main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4.375rem;
}
.footer__nav {
    width: 33%;
}
.footer__nav__links {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}
.footer__logo {
    font-family: Elsie;
    font-size: 2rem;
}
.footer__form {
    width: 33%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.footer__form-wrapper {
    display: flex;
    flex-direction: column;
}
.footer__form__title {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.171875rem;
}
.footer__form__input {
    padding: 16px 0 16px 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}
.footer__socials {
    width: 100%;
}
.footer__socials__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.footer__socials__link {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
}

@media (max-width: 1439px) {
    html {
        font-size: 14px;
    }
    .container {
        padding-inline: 40px;
    }
    .menu__dishes-slider {
        width: 100%;
    }
    .menu__drinks-slider {
        width: calc(80%);
    }
    .menu__dishes__type__swiper {
        width: calc(100% - 10rem);
    }
    .menu__drinks__type__swiper-buttons {
        margin-left: 1.5rem;
        margin-right: 1.8rem;
    }
}

@media (max-width: 1279px) {
    html {
        font-size: 13px;
    }
}

@media (max-width: 1023px) {
    html {
        font-size: 12px;
    }
    .about__content {
        width: 95%;
    }
    .menu__text {
        width: 60%;
    }
    .menu__dishes__type__swiper {
        width: 100%;
    }
    .menu__drinks-slider {
        width: 90%;
    }
    .menu__drinks__type__swiper {
        width: 100%;
    }
    .about__swiper__buttons {
        display: none;
    }
    .menu__dishes__swiper-button {
        display: none;
    }
    .menu__drinks__type__swiper-buttons {
        display: none;
    }
    .team__swiper {
        width: 100%;
    }
    .team__swiper__buttons {
        display: none;
    }
    .footer__main {
        margin-bottom: 2.5rem;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 11px;
    }
    .container {
        padding-inline: 10px;
    }
    .about__content {
        flex-direction: column;
        align-items: center;
    }
    .about__header {
        margin-bottom: 1.5rem;
    }
    .about__text {
        width: 60%;
        text-align: center;
    }
    .menu__dishes__swiper-pagination {
        flex-wrap: wrap;
    }
    .menu__dishes__swiper-pagination .swiper-pagination-bullet {
        margin: 3px!important;
    }
    .menu__drinks-slider {
        width: 100%;
    }
    
    .menu__drinks__swiper-pagination .swiper-pagination-bullet {
        font-size: 3rem!important;
    }
    .team__content {
        flex-direction: column;
    }
    .team__text {
        width: 60%;
        text-align: center;
    }
    .footer {
        padding-top: 2.5rem;
    }
    .footer__main {
        flex-direction: column;
        align-items: center;
    }
    .footer__main > * {
        width: auto;
    }
    .footer__logo {
        margin-bottom: 2rem;
    }
    .footer__nav {
        display: none;
    }
    .footer__form {
        align-items: center;
        width: 70%;
    }
}
@media (max-width: 579px    ) {
    html {
        font-size: 10px;
    }
    .menu__drinks__swiper-pagination .swiper-pagination-bullet {
        font-size: 2.5rem!important;
    }
    .menu__drinks__swiper-pagination {
        width: 45%!important;
    }
}
@media (max-width: 500px) {
    .header__burger {
        display: flex;
    }
    .header__nav, .header__items__lang {
        display: none;
    }
}