@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: 'Elsie';
    src: url(../fonts/Elsie/Elsie-Black.ttf);
}
@font-face {
    font-family: 'ClashDisplay';
    src: url(../fonts/ClashDisplay/fonts/ClashDisplay-Bold.ttf);
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: Roboto;
    background-color: rgba(207, 210, 198, 1);
    color: rgba(54, 57, 45, 1);
}
a {
    color: inherit;
}
section {
    padding-top: 80px;
}
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    padding-inline: 80px;
}
.swiper {
    overflow: hidden;
}
.swiper-wrapper {
    margin-inline: -1;
}
/* header */

.header {
    z-index: 10;
    color: rgba(207, 210, 198, 1);
    width: 100%;
    top: 0;
    position: fixed;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.4s;
}
.scrolled {
    background-color: rgba(0, 0, 0, 0.6);
}
.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.header__items {
    display: flex;
    gap: 40px;
}
.header__burger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}
.header__burger span {
    display: block;
    width: 32px;
    height: 3px;
    background-color: rgba(207, 210, 198, 1);
    border-radius: 2px;
}
.header__burger span::before {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background-color: rgba(207, 210, 198, 1);
    transform: translateY(-300%);    
}
.header__burger span::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background-color: rgba(207, 210, 198, 1);
    transform: translateY(200%);    
}
.header__nav {
    display: flex;
    align-items: center;
}
.header__nav__links {
    display: flex;
    gap: 40px;
}
.header__logo {
    font-family: Elsie;
    font-size: 2rem;
}
/* hero */
.hero {
    width: 100%;
    height: 100vh;
    background-image: url(../imgs/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
}
.hero__text {
    font-family: ClashDisplay;
    color: rgba(207, 210, 198, 1);
    line-height: 6rem;
    font-size: 5rem;
}
/* about */
.about {
    padding-top: 160px;
}
.about__content {
    display: flex;
    justify-content: space-between;
}
.about__header {
    font-family: ClashDisplay;
    font-size: 4rem;
}
.about__text {
    font-size: 1.125rem;
    line-height: 1.6875rem;
    width: 570px;
}
.about__swiper {
    user-select: none;
    max-width: 1920px;
}
.about__swiper__buttons {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 40px;
}
.swiper-button {
    position: static;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 1px solid rgba(54, 57, 45, 1);
    margin: 0;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-button::after,
.swiper-button::before {
    content: none;
}
.swiper-button-next {
    transform: rotate(180deg);
}
.swiper__slide {
    background-color: rgba(207, 210, 198, 1);
}
/* menu */
.menu {
    padding-bottom: 80px;
}
.menu__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu__header {
    font-family: ClashDisplay;
    font-size: 4rem;
    margin-bottom: 24px;
}
.menu__text {
    width: 570px;
    font-size: 1.125rem;
    line-height: 1.8rem;
    text-align: center;
    margin-bottom: 24px;
}
.menu__dishes-slider {
    width: 100%;
    width: calc(100% - 88px);
}
.menu__dishes__swiper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu__dishes__swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    margin-bottom: 40px;
}
.swiper-pagination-bullet {
    height: auto;
    width: auto;
    display: flex;
    opacity: 1;
    background-color: transparent;
}
.menu__dishes__swiper-pagination .swiper-pagination-bullet {
    padding: 16px 40px;
    border: 1px solid rgba(159, 166, 140, 1);
    border-radius: 16px;
    color: rgba(54, 57, 45, 1);
}
.menu__dishes__swiper-pagination .swiper-pagination-bullet-active {
    background-color: rgba(183, 188, 169, 1);
}
.menu__dishes__type__slider {
    display: flex;
    align-items: center;
    width: 100%;
}
.swiper-slide {
    background-color: rgba(207, 210, 198, 1);
}
.menu__dishes__type__swiper-slide__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.menu__dishes__type__swiper-slide__card__name {
    font-family: ClashDisplay;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
.menu__dishes__type__swiper-slide__card__price {
    font-size: 16px;
    font-weight: 600;
}
.menu__dishes__type__swiper {
    width: calc(100% - 208px);
}
.menu__drinks-slider {
    width: calc(100% - 298px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
.menu__drinks__swiper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.menu__drinks__swiper-slide {
    display: flex;
}
.menu__drinks__swiper-pagination {
    font-family: ClashDisplay;
    display: flex;
    flex-direction: column;
    width: 570px !important;
}
.menu__drinks__swiper-pagination .swiper-pagination-bullet {
    height: auto;
    width: 100%;
    padding: 40px 0;
    border-radius: 0;
    color: rgba(159, 166, 140, 1);
    border-bottom: 1px solid rgba(159, 166, 140, 1);
    font-size: 64px;
    transition: 0.3s;
}
.menu__drinks__swiper-pagination .swiper-pagination-bullet-active {
    color: rgba(54, 57, 45, 1);
}
.menu__drinks__type__swiper {
    display: flex;
}
.menu__drinks__type__swiper-buttons {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 40px;
    margin-right: 45px;
    margin-bottom: 110px;
    align-self: flex-end;
}
.menu__drinks__type__swiper-slide__card {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.menu__drinks__type__swiper-slide__card__name {
    font-family: ClashDisplay;
    font-size: 20px;
    font-weight: 700;
}
.menu__drinks__type__swiper-slide__card__price {
    font-size: 16px;
    font-weight: 600;
}
.menu__drinks__type__swiper-slide__card__recipe {
    font-size: 16px;
    font-weight: 400;
}
/* team */
.team {
    background-color: rgba(183, 188, 169, 1);
    padding-bottom: 80px;
}
.team__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-inline: 198px;
}
.team__header {
    font-family: ClashDisplay;
    font-size: 4rem;
    margin-bottom: 24px;
}
.team__text {
    width: 570px;
    font-size: 1.125rem;
    line-height: 1.8rem;
}
.team__slider {
    width: 100%;
}
.team__swiper {
    max-width: calc(100% - 128px);
    display: flex;
    flex-direction: column;
}
.team__swiper__buttons {
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
}
.team__swiper-wrapper {
    align-self: center;
}
.team__swiper__card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
    background-color: rgba(183, 188, 169, 1);
}
.team__swiper__card__position {
    font-weight: 600;
}
.team__swiper__card__name {
    font-family: ClashDisplay;
    font-size: 1.25rem;
    font-weight: 700;
}
/* events */
.events {
    padding-bottom: 80px;
}
.events__header {
    font-family: ClashDisplay;
    font-size: 4rem;
    margin-bottom: 80px;
    padding-left: 149px;
}
.events__items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.events__item {
    width: calc(50% - 12px);
    position: relative;
}
.events__item__hover {
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   background-color: rgba(149, 157, 123, 0.8);
   color: rgba(255, 255, 255, 1);
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 32px;
   opacity: 0;
   transition: 0.4s;
}
.events__item__hover:hover {
    opacity: 1;
}
/* footer */ 
.footer {
    font-size: 1.125rem;
    padding-bottom: 80px;
    padding-top: 72px;
    background-color: rgba(183, 188, 169, 1);
}
.footer__main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 70px;
}
.footer__nav {
    width: 33%;
}
.footer__nav__links {
    display: flex;
    align-items: center;
    gap: 40px;
}
.footer__logo {
    font-family: Elsie;
    font-size: 2rem;
}
.footer__form {
    width: 33%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.footer__socials {
    width: 100%;
}
.footer__socials__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.footer__socials__link {
    width: 40px;
    height: 40px;
    font-size: 34px;
}